freetakhub_webmap_v5.json
[
  {
      "id": "766a82631225da3b",
      "type": "tab",
      "label": "FTH Webmap"
  },
  {
      "id": "7c52084b496b83bc",
      "type": "comment",
      "z": "766a82631225da3b",
      "name": "Keep Server Connection Alive",
      "info": "",
      "x": 220,
      "y": 140,
      "wires": []
  },
  {
      "id": "8c35a77a0d0d3f3d",
      "type": "comment",
      "z": "766a82631225da3b",
      "name": "Connect to FTS",
      "info": "",
      "x": 440,
      "y": 140,
      "wires": []
  },
  {
      "id": "586a2364ecb46529",
      "type": "comment",
      "z": "766a82631225da3b",
      "name": "Convert to Worldmap Payload",
      "info": "",
      "x": 660,
      "y": 140,
      "wires": []
  },
  {
      "id": "885b808dd8a4895d",
      "type": "debug",
      "z": "766a82631225da3b",
      "name": "debug: TAK-map input",
      "active": false,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "",
      "statusType": "auto",
      "x": 940,
      "y": 180,
      "wires": []
  },
  {
      "id": "3a1205e793d055fa",
      "type": "worldmap",
      "z": "766a82631225da3b",
      "name": "worldmap: tak-map",
      "lat": "43",
      "lon": "13",
      "zoom": "4",
      "layer": "EsriDG",
      "cluster": "",
      "maxage": "5000",
      "usermenu": "show",
      "layers": "show",
      "panit": "false",
      "panlock": "false",
      "zoomlock": "false",
      "hiderightclick": "false",
      "coords": "deg",
      "showgrid": "true",
      "allowFileDrop": "true",
      "path": "/tak-map",
      "overlist": "",
      "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,OpTop,SW",
      "mapname": "",
      "mapurl": "",
      "mapopt": "",
      "mapwms": false,
      "x": 930,
      "y": 280,
      "wires": []
  },
  {
      "id": "71787ea1acdd3c9a",
      "type": "worldmap in",
      "z": "766a82631225da3b",
      "name": "worldmap in: tak-map",
      "path": "/tak-map",
      "events": "connect",
      "x": 240,
      "y": 280,
      "wires": [
          [
              "3f1c45fae45fc2ae"
          ]
      ]
  },
  {
      "id": "361f42b16f36cb0d",
      "type": "worldmap in",
      "z": "766a82631225da3b",
      "name": "worldmap in: tak-map",
      "path": "/tak-map",
      "events": "other",
      "x": 240,
      "y": 420,
      "wires": [
          [
              "9e3dcf9240c85d5a"
          ]
      ]
  },
  {
      "id": "bf877041be384805",
      "type": "debug",
      "z": "766a82631225da3b",
      "name": "No form!!",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "",
      "statusType": "auto",
      "x": 640,
      "y": 440,
      "wires": []
  },
  {
      "id": "3f1c45fae45fc2ae",
      "type": "function",
      "z": "766a82631225da3b",
      "name": "form",
      "func": "msg.payload = { command: {\ncontextmenu: String.raw`\n<table border=0><tr>\n<th>Attitude</th><td><select id=\"myatt\">\n  <option value=\"friend\">Friend</option>\n  <option value=\"hostile\">Hostile</option>\n  <option value=\"neutral\">Neutral</option>\n  <option value=\"unknown\">Unknown</option>\n  <option value=\"pending\">Pending</option>\n  <option value=\"suspect\">Suspect</option>\n  <option value=\"assumed\">Assumed Friend</option>\n  </select></td>\n</tr><tr>\n<th>Type</th><td><select id=\"mytyp\" value=\"Ground\" onchange=\"document.getElementById('mynam').value = this.value+'-'+parseInt(Math.random()*9999);\">\n  <option value=\"Rifleman\">Rifleman</option>\n  <option value=\"Grenadier\">Grenadier</option>\n  <option value=\"Gnd Combat Infantry Mortar\">Mortar</option>\n  <option value=\"Medic\">Medic</option>\n  <option value=\"Gnd Combat Infantry anti Tank\">anti Tank</option>\n  <option value=\"Sniper\">Sniper</option>\n  <option value=\"Recon\">Recon</option>\n  <option value=\"Gnd Combat Infantry air defense\">AA</option>\n  <option value=\"Engineer\">Engineer</option>\n</select></td>\n</tr><tr>\n<th>Timeout</th><td><input type=\"number\" id=\"mytout\" step=\"10\" value=\"600\">S</td>\n</tr><tr>\n<th>Name</th><td><input type=\"text\" id=\"mynam\"></td>\n</tr><tr>\n<th><input type=\"button\" value=\"Send\" onclick=\n'feedback(\"myform\",{\n    \"attitude\":document.getElementById(\"myatt\").value,\n    \"geobject\":document.getElementById(\"mytyp\").value,\n    \"timeout\":document.getElementById(\"mytout\").value,\n    \"name\":document.getElementById(\"mynam\").value,\n},null,true)'\n></th>\n</tr></table>\n`\n}}\nreturn msg;",
      "outputs": 1,
      "timeout": "",
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 630,
      "y": 280,
      "wires": [
          [
              "3a1205e793d055fa"
          ]
      ]
  },
  {
      "id": "17650e362d95de70",
      "type": "config",
      "z": "766a82631225da3b",
      "name": "FTH Global Config",
      "properties": [
          {
              "p": "FTH_FTS_URL",
              "pt": "global",
              "to": "0.0.0.0",
              "tot": "str"
          },
          {
              "p": "FTH_FTS_TCP_Port",
              "pt": "global",
              "to": "8087",
              "tot": "str"
          },
          {
              "p": "FTH_FTS_API_Port",
              "pt": "global",
              "to": "19023",
              "tot": "str"
          },
          {
              "p": "FTH_FTS_API_Auth",
              "pt": "global",
              "to": "token",
              "tot": "str"
          },
          {
              "p": "FTH_FTS_STREAM_Port",
              "pt": "global",
              "to": "8554",
              "tot": "str"
          },
          {
              "p": "FTH_FTS_VIDEO_URL",
              "pt": "global",
              "to": "0.0.0.0",
              "tot": "str"
          },
          {
              "p": "FTH_FTS_VIDEO_API_PORT",
              "pt": "global",
              "to": "9997",
              "tot": "str"
          }
      ],
      "active": true,
      "x": 190,
      "y": 80,
      "wires": []
  },
  {
      "id": "f9c1c3d2b0dcf4da",
      "type": "http request",
      "z": "766a82631225da3b",
      "name": "Post  COT to FTS",
      "method": "POST",
      "ret": "txt",
      "paytoqs": "ignore",
      "url": "{{{addr}}}:{{{port}}}/ManageGeoObject/postGeoObject",
      "tls": "",
      "persist": false,
      "proxy": "",
      "authType": "bearer",
      "senderr": false,
      "x": 950,
      "y": 400,
      "wires": [
          [
              "e42b1fdd3dd68980"
          ]
      ]
  },
  {
      "id": "64334cba1273e06c",
      "type": "function",
      "z": "766a82631225da3b",
      "name": "Map Msg: Event -> CoT",
      "func": "\n  msg.addr =  global.get('FTH_FTS_URL');\n  msg.port = global.get('FTH_FTS_API_Port');\nlet lon = msg.payload.lon;\n  let lat = msg.payload.lat;\n  let attitude = msg.payload.value.attitude;\n  let geoobject = msg.payload.value.geobject;\n  let timeOut = Math.floor(Number(msg.payload.value.timeout) || 0);\n  let aName = msg.payload.value.name;\n  let token = global.get('FTH_FTS_API_Auth');\n\n \nmsg.headers = {};\nmsg.headers['Authorization'] = \"Bearer \"+ token;\n \n\nmsg.payload = [];\n\n msg.payload={\n   longitude: lon,\n latitude: lat,\nattitude: attitude,\ngeoObject: geoobject,\nhow: \"nonCoT\",\nname: aName,\ntimeout: timeOut \n };\n    \nreturn msg;\n",
      "outputs": 1,
      "timeout": "",
      "noerr": 0,
      "initialize": "",
      "finalize": "",
      "libs": [],
      "x": 690,
      "y": 400,
      "wires": [
          [
              "f9c1c3d2b0dcf4da"
          ]
      ]
  },
  {
      "id": "e42b1fdd3dd68980",
      "type": "debug",
      "z": "766a82631225da3b",
      "name": "API Response",
      "active": true,
      "tosidebar": true,
      "console": false,
      "tostatus": false,
      "complete": "payload",
      "targetType": "msg",
      "statusVal": "",
      "statusType": "auto",
      "x": 1180,
      "y": 400,
      "wires": []
  },
  {
      "id": "9e3dcf9240c85d5a",
      "type": "switch",
      "z": "766a82631225da3b",
      "name": "check message",
      "property": "payload.value.name",
      "propertyType": "msg",
      "rules": [
          {
              "t": "nempty"
          },
          {
              "t": "empty"
          }
      ],
      "checkall": "true",
      "repair": false,
      "outputs": 2,
      "x": 440,
      "y": 420,
      "wires": [
          [
              "64334cba1273e06c"
          ],
          [
              "bf877041be384805"
          ]
      ]
  },
  {
      "id": "647af514a3fc61f2",
      "type": "comment",
      "z": "766a82631225da3b",
      "name": "Add the menu",
      "info": "Add a menu to the TAK worldmap.\n",
      "x": 210,
      "y": 240,
      "wires": []
  },
  {
      "id": "57d4f22db956d69b",
      "type": "comment",
      "z": "766a82631225da3b",
      "name": "Get the result from the post",
      "info": "",
      "x": 210,
      "y": 360,
      "wires": []
  },
  {
      "id": "0565f229206163d0",
      "type": "comment",
      "z": "766a82631225da3b",
      "name": "CONFIG ME!!!!",
      "info": "",
      "x": 170,
      "y": 40,
      "wires": []
  },
  {
      "id": "bbaeafe55e6385e4",
      "type": "comment",
      "z": "766a82631225da3b",
      "name": "APi Token here",
      "info": "",
      "x": 940,
      "y": 360,
      "wires": []
  },
  {
      "id": "63b2b94eb33c9b25",
      "type": "tak registration",
      "z": "766a82631225da3b",
      "name": "NRed",
      "callsign": "",
      "group": "Cyan",
      "role": "Gateway",
      "latitude": "",
      "longitude": "",
      "repeat": "60",
      "dphost": "",
      "x": 210,
      "y": 180,
      "wires": [
          [
              "aec833fca0f6b48b"
          ]
      ]
  },
  {
      "id": "575697a9323f8aa4",
      "type": "tak ingest",
      "z": "766a82631225da3b",
      "name": "",
      "x": 650,
      "y": 180,
      "wires": [
          [
              "3a1205e793d055fa",
              "885b808dd8a4895d"
          ]
      ]
  },
  {
      "id": "aec833fca0f6b48b",
      "type": "tcp request",
      "z": "766a82631225da3b",
      "name": "tcp: FTS Server",
      "server": "127.0.0.1",
      "port": "8087",
      "out": "sit",
      "ret": "string",
      "splitc": " ",
      "newline": "</event>",
      "trim": false,
      "tls": "",
      "x": 440,
      "y": 180,
      "wires": [
          [
              "575697a9323f8aa4"
          ]
      ]
  }
]