freetakhub_webmap_v5.json
[
    {
        "id": "2c12da721d40c6cc",
        "type": "tab",
        "label": "FTH Webmap"
    },
    {
        "id": "9e44af9fa9a231d1",
        "type": "comment",
        "z": "2c12da721d40c6cc",
        "name": "Keep Server Connection Alive",
        "info": "",
        "x": 220,
        "y": 140,
        "wires": []
    },
    {
        "id": "cddcb8c22eb39afc",
        "type": "comment",
        "z": "2c12da721d40c6cc",
        "name": "Connect to FTS",
        "info": "",
        "x": 440,
        "y": 140,
        "wires": []
    },
    {
        "id": "24587476d18e5514",
        "type": "comment",
        "z": "2c12da721d40c6cc",
        "name": "Convert to Worldmap Payload",
        "info": "",
        "x": 660,
        "y": 140,
        "wires": []
    },
    {
        "id": "dc259eb71369576b",
        "type": "debug",
        "z": "2c12da721d40c6cc",
        "name": "debug: TAK-map input",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 180,
        "wires": []
    },
    {
        "id": "68d5546bc74741de",
        "type": "worldmap",
        "z": "2c12da721d40c6cc",
        "name": "worldmap: tak-map",
        "lat": "43",
        "lon": "13",
        "zoom": "4",
        "layer": "EsriDG",
        "cluster": "",
        "maxage": "5000",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "deg",
        "showgrid": "true",
        "allowFileDrop": "true",
        "path": "/tak-map",
        "overlist": "",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriO,EsriDG,NatGeo,OpTop,SW",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 930,
        "y": 280,
        "wires": []
    },
    {
        "id": "fbac5a08c3b4d88f",
        "type": "worldmap in",
        "z": "2c12da721d40c6cc",
        "name": "worldmap in: tak-map",
        "path": "/tak-map",
        "events": "connect",
        "x": 1160,
        "y": 280,
        "wires": [
            [
                "70c9a88a608c375e"
            ]
        ]
    },
    {
        "id": "986a03a06948772f",
        "type": "worldmap in",
        "z": "2c12da721d40c6cc",
        "name": "worldmap in: tak-map",
        "path": "/tak-map",
        "events": "other",
        "x": 240,
        "y": 420,
        "wires": [
            [
                "fa144a2feb52460b"
            ]
        ]
    },
    {
        "id": "0218bfa764f2d1be",
        "type": "debug",
        "z": "2c12da721d40c6cc",
        "name": "No form!!",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 440,
        "wires": []
    },
    {
        "id": "70c9a88a608c375e",
        "type": "function",
        "z": "2c12da721d40c6cc",
        "name": "form",
        "func": "msg.payload = { command: {\ncontextmenu: String.raw`\n<table border=0><tr>\n<th>Attitude</th><td><select id=\"myatt\">\n  <option value=\"friend\">Friend</option>\n  <option value=\"hostile\">Hostile</option>\n  <option value=\"neutral\">Neutral</option>\n  <option value=\"unknown\">Unknown</option>\n  <option value=\"pending\">Pending</option>\n  <option value=\"suspect\">Suspect</option>\n  <option value=\"assumed\">Assumed Friend</option>\n  </select></td>\n</tr><tr>\n<th>Type</th><td><select id=\"mytyp\" value=\"Ground\" onchange=\"document.getElementById('mynam').value = this.value+'-'+parseInt(Math.random()*9999);\">\n  <option value=\"Rifleman\">Rifleman</option>\n  <option value=\"Grenadier\">Grenadier</option>\n  <option value=\"Gnd Combat Infantry Mortar\">Mortar</option>\n  <option value=\"Medic\">Medic</option>\n  <option value=\"Gnd Combat Infantry anti Tank\">anti Tank</option>\n  <option value=\"Sniper\">Sniper</option>\n  <option value=\"Recon\">Recon</option>\n  <option value=\"Gnd Combat Infantry air defense\">AA</option>\n  <option value=\"Engineer\">Engineer</option>\n</select></td>\n</tr><tr>\n<th>Timeout</th><td><input type=\"number\" id=\"mytout\" step=\"10\" value=\"600\">S</td>\n</tr><tr>\n<th>Name</th><td><input type=\"text\" id=\"mynam\"></td>\n</tr><tr>\n<th><input type=\"button\" value=\"Send\" onclick=\n'feedback(\"myform\",{\n    \"attitude\":document.getElementById(\"myatt\").value,\n    \"geobject\":document.getElementById(\"mytyp\").value,\n    \"timeout\":document.getElementById(\"mytout\").value,\n    \"name\":document.getElementById(\"mynam\").value,\n},null,true)'\n></th>\n</tr></table>\n`\n}}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 280,
        "wires": [
            [
                "68d5546bc74741de"
            ]
        ]
    },
    {
        "id": "b9f3138b8606246b",
        "type": "http request",
        "z": "2c12da721d40c6cc",
        "name": "Post  COT to FTS",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://{{{addr}}}:{{{port}}}/ManageGeoObject/postGeoObject",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "bearer",
        "senderr": false,
        "headers": [],
        "x": 950,
        "y": 400,
        "wires": [
            [
                "3a4c108ef6d59a3b"
            ]
        ]
    },
    {
        "id": "1627f6d934a6ca86",
        "type": "function",
        "z": "2c12da721d40c6cc",
        "name": "Map Msg: Event -> CoT",
        "func": "\nmsg.addr =  env.get('FTH_FTS_URL');\nmsg.port = env.get('FTH_FTS_API_Port');\n\nmsg.headers = {};\nmsg.headers['Authorization'] = \"Bearer \"+ env.get('FTH_FTS_API_Auth');\n \nlet lon = msg.payload.lon;\nlet lat = msg.payload.lat;\nlet attitude = msg.payload.value.attitude;\nlet geoobject = msg.payload.value.geobject;\nlet timeOut = Math.floor(Number(msg.payload.value.timeout) || 0);\nlet aName = msg.payload.value.name;\n\nmsg.payload={\n  longitude: lon,\n  latitude: lat,\n  attitude: attitude,\n  geoObject: geoobject,\n  how: \"nonCoT\",\n  name: aName,\n  timeout: timeOut \n};\n    \nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 400,
        "wires": [
            [
                "b9f3138b8606246b",
                "b92392b73d5ae9c8"
            ]
        ]
    },
    {
        "id": "3a4c108ef6d59a3b",
        "type": "debug",
        "z": "2c12da721d40c6cc",
        "name": "API Response",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1180,
        "y": 400,
        "wires": []
    },
    {
        "id": "fa144a2feb52460b",
        "type": "switch",
        "z": "2c12da721d40c6cc",
        "name": "check message",
        "property": "payload.value.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 440,
        "y": 420,
        "wires": [
            [
                "1627f6d934a6ca86"
            ],
            [
                "0218bfa764f2d1be"
            ]
        ]
    },
    {
        "id": "0abb996ad70aa4a5",
        "type": "comment",
        "z": "2c12da721d40c6cc",
        "name": "Add the menu",
        "info": "Add a menu to the TAK worldmap.\n",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "f22201e9969fb210",
        "type": "comment",
        "z": "2c12da721d40c6cc",
        "name": "Get the result from the post",
        "info": "https://github.com/dceejay/RedMap?tab=readme-ov-file#events-from-the-map\n\n",
        "x": 250,
        "y": 380,
        "wires": []
    },
    {
        "id": "4fd458895b18166f",
        "type": "comment",
        "z": "2c12da721d40c6cc",
        "name": "CONFIG ME!!!!",
        "info": "Go to:\n Menu -> \n   Settings -> \n     Environment\n\n",
        "x": 170,
        "y": 40,
        "wires": []
    },
    {
        "id": "3e1ef89d6d207377",
        "type": "comment",
        "z": "2c12da721d40c6cc",
        "name": "API Token here",
        "info": "",
        "x": 940,
        "y": 360,
        "wires": []
    },
    {
        "id": "022e73267c24d65b",
        "type": "tak registration",
        "z": "2c12da721d40c6cc",
        "name": "NRed",
        "callsign": "",
        "group": "Cyan",
        "role": "Gateway",
        "latitude": "",
        "longitude": "",
        "repeat": "60",
        "dphost": "",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "0cee935f3701351d"
            ]
        ],
        "info": "## Keep the TAK Server Connection Alive\n\n"
    },
    {
        "id": "f41cba26de1e8af9",
        "type": "tak ingest",
        "z": "2c12da721d40c6cc",
        "name": "",
        "x": 650,
        "y": 180,
        "wires": [
            [
                "68d5546bc74741de",
                "dc259eb71369576b"
            ]
        ]
    },
    {
        "id": "0cee935f3701351d",
        "type": "tcp request",
        "z": "2c12da721d40c6cc",
        "name": "tcp: FTS Server",
        "server": "${FTH_FTS_URL}",
        "port": "${FTH_FTS_TCP_Port}",
        "out": "sit",
        "ret": "string",
        "splitc": " ",
        "newline": "</event>",
        "trim": false,
        "tls": "",
        "x": 440,
        "y": 180,
        "wires": [
            [
                "f41cba26de1e8af9",
                "13293209b90c7647"
            ]
        ]
    },
    {
        "id": "13293209b90c7647",
        "type": "debug",
        "z": "2c12da721d40c6cc",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 280,
        "wires": []
    },
    {
        "id": "b92392b73d5ae9c8",
        "type": "debug",
        "z": "2c12da721d40c6cc",
        "name": "CoT msg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 460,
        "wires": []
    }
]